@{
    // Gera uma lista de URLs aleatórias para o carrossel
    var rnd = new System.Random();
    var images = new List<string>();
    for (int i = 0; i < 5; i++)
    {
        // picsum.photos entrega imagens aleatórias por query string
        images.Add($"https://picsum.photos/1200/300?random={rnd.Next(1,100000)}&category=shop");
    }
}

<div id="randomCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
  <div class="carousel-indicators">
    @for (int i = 0; i < images.Count; i++)
    {
      <button type='button' data-bs-target='#randomCarousel' data-bs-slide-to='@i' class='@(i==0 ? "active" : "")' aria-current='@(i==0 ? "true" : "false")' aria-label='Slide @(i+1)'></button>
    }
  </div>
  <div class="carousel-inner">
    @for (int i = 0; i < images.Count; i++)
    {
      <div class='carousel-item @(i==0 ? "active" : "")'>
        <img src='@images[i]' class='d-block w-100' style='height:300px;object-fit:cover;' />
            <div class="carousel-caption d-none d-md-block">
          <h5>Promoção @(i+1)</h5>
                <p>Ofertas especiais e novidades da loja.</p>
            </div>
        </div>
    }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#randomCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#randomCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>
</div>
